

<title>Person Found</title>
  <link rel="stylesheet" href="/public/main-styles.css">
<div>
  <h1>
    Person Found
  </h1>

  <h2>
     <dl>
  <dt>ID</dt>
  <dd>{{details.id}}</dd>
  <dt>First Name</dt>
  <dd>{{details.firstName}}</dd>
  <dt>Last Name</dt>
  <dd>{{details.lastName}}</dd>
  <dt>Address</dt>
  <dd>{{details.address}}</dd>
  <dt>Zip Code</dt>
  <dd>{{details.zip}}</dd>
  <dt>Phone</dt>
  <dd>{{details.phone}}</dd>
  <dt>Social Security Number</dt>
  <dd>{{details.ssn}}</dd>
</dl>

  </h2>
 
</div>